

<!DOCTYPE HTML>

<html>
	<head>
		<title>Xiaoxiao Liu</title>
        <link rel="icon" href="/static/images/icon.png">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
		<script type="text/javascript" src="/static/assets/js/typist.js"></script>
		<link rel="stylesheet" href="/static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/static/assets/css/noscript.css" /></noscript>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
	</head>
	<body class="is-loading">
	<div class="parallax" id="top">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<section id="main">
						<header>
							<span class="avatar"><img src="/static/images/avatar.jpg" alt="" /></span>
							<h1>Xiaoxiao Liu</h1>
							<p>&nbsp;<strong id="typist-element" data-typist="SBU Junior,Computer Science Major,Applied Math Major, Future YouTuber">Software Developer</strong>&nbsp;</p>
						</header>
						<footer>
							<ul class="icons">
								<li><a target="_blank" href="https://github.com/ciaoxiaoxiao" class="fa-github">github</a></li>
								<li><a target="_blank" href="/static/assets/Xiaoxiao_Liu_Resume.pdf" class="fa-file">resume</a></li>
								<li><a target="_blank" href="mailto:xxliu@cs.stonybrook.com" class="fa-envelope">contact</a></li>
                                <li><a target="_blank" href="https://www.youtube.com/channel/UCRcvpQ01YNBn-8W3XvCYSZg" class="fa-youtube">contact</a></li>

							</ul>
							<table style="margin: 0px auto;" width="74%">

							</table>
							<br><br><br>
						</footer>
					</section>

			</div>
	</div>
	<div class="parallax2" id="about">
	<!-- Wrapper -->
				<!-- Main -->
					<section id="main2">
					<header>
							<span class="avatar"><h3><span style="background-color: white; text-transform: none">&nbsp;&nbsp;Hi, I'm XIAO.&nbsp;</h3></span>
							<p style = "font-family: 'Lora', serif; line-height: 2em; text-align: justify; letter-spacing: normal;text-transform:none; margin: 0px auto; max-width: 650px;">
							I’m a B.S. student of Compute Science and Applied Mathematics & Statistics and a teaching assisstant at <a target="_blank" style="color: brown" href="http://www.stonybrook.edu/">Stony Brook University</a>.
							I'm proficient in <a target="_blank" style="color: cadetblue">Java</a>, <a target="_blank" style="color: cadetblue">SQL</a>, and familiar with <a target="_blank" style="color: cadetblue">C</a>, <a target="_blank" style="color: cadetblue">JavaScprit</a>, <a target="_blank" style="color: cadetblue">Python</a>, <a target="_blank" style="color: cadetblue">CSS</a>, <a target="_blank" style="color: cadetblue">HTML</a>, <a target="_blank" style="color: cadetblue">Perl</a>, and <a target="_blank" style="color: cadetblue">Linux Shell</a>. I'm actively looking for 2020 Summer internship.You can find some of my projects below.😊<br>
							</p>
					</header>
					</section>
	</div>

	<div class="parallax3">
		<!-- Wrapper -->
			<div id="wrapper">
				<div style="max-width: 615px;">
				<!-- Main -->
					<section id="main2">
						<header>
							<span class="avatar"><h3><span style="background-color: white">&nbsp;&nbsp;PROJECTS&nbsp;</h3></span>
							<table style="width:100%; font-variant: small-caps; font-size: 1.5em;">
								<td style="width:50%"><img src="/static/images/Auction-Graphi.jpg" alt="" /></td>
								<tr>
									<td style="width:50%; vertical-align: top; text-align: left;">Online Auction House
										<br><br>
										<p style = "wfidth:100%;font-family: 'Lora', serif; line-height: 2em; letter-spacing: normal; font-weight: normal; font-size: 0.5em; font-variant: normal;">A Java web application along the lines of ebay, etsy supported by a relational database which allows customers to use the web to browse/search the contents, to buy and sell various items over the web. Auction House managers can obtain a sales report, determine which customer generated most total revenue, and many other stuff.<br><span style = "font-size:0.75em;"><a target="_blank" style= "color:brown" href="https://github.com/cxyStephen/platformerFX">(source)</a></span></p>
									</td>
								</tr>
							</table>
							<hr>
							<table style="width:100%; font-variant: small-caps; font-size: 1.5em;">
								<tr>
									<td style="width:50%;  vertical-align: top; text-align: right;">Logo Editor
										<br><br>
										<p style = "font-family: 'Lora', serif; line-height: 2em; text-align: left; letter-spacing: normal; font-weight: normal; font-size: 0.5em; font-variant: normal;">A Java desktop application is similar to PhotoShop which lets artists easily make icons that use a mixture of  formatted text, shapes, and images to design their logos.<br><span style = "font-size:0.75em;"><a target="_blank" style="color: brown"href="https://bitbucket.org/xiaoxiaoliusugess/cs3learningsuite_v2.0/src/master/">(source)</a></span></p>
									</td>
									<td style="width:50%"><img class="logo_editor" src="/static/images/logo.jpg" alt="" /></td>
								</tr>
							</table>
							<hr>
							<table style="width:100%; font-variant: small-caps; font-size: 1.5em;">
								<tr>
									<td style="width:50%"><img class="mips" src="/static/images/mips.png" alt="" /></td>
									<td style="width:50%; vertical-align: top; text-align: left;">Dungeon-MipsHack<br><br>
										<p style = "font-family: 'Lora', serif; line-height: 2em; letter-spacing: normal; font-weight: normal; font-size: 0.5em; font-variant: normal;">It's a Dungeon game inspired by <a target="_blank" style="color:brown" href="https://en.wikipedia.org/wiki/NetHack">NetHack.</a>
										<br><span style = "font-size:0.75em;"><a target="_blank"  style="color: brown"href="https://github.com/ciaoxiaoxiao/Dungeon-MipsHack">(source)</a></span></p>
									</td>
								</tr>
							</table>
						</header>

						<footer id="footer">
						<a href="#top"><img src="/static/images/up.png" alt="" /></a>
						<br>
						<br>
						</footer>
					</section>

			</div>
	</div>


		<!-- Scripts -->
			<!--[if lte IE 8]><script src="assets/js/respond.min.js"></script><![endif]-->
			<script>
				if ('addEventListener' in window) {
					window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-loading\b/, ''); });
					document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
				}
				const typist = document.querySelector("#typist-element");
				new Typist(typist, {
				  letterInterval: 20,
				  textInterval:   5000
				}
				);
				$(document).ready(function(){
				  // Add smooth scrolling to all links
				  $("a").on('click', function(event) {

					// Make sure this.hash has a value before overriding default behavior
					if (this.hash !== "") {
					  // Prevent default anchor click behavior
					  event.preventDefault();

					  // Store hash
					  var hash = this.hash;

					  // Using jQuery's animate() method to add smooth page scroll
					  // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
					  $('html, body').animate({
						scrollTop: $(hash).offset().top
					  }, 800, function(){

						// Add hash (#) to URL when done scrolling (default click behavior)
						window.location.hash = hash;
					  });
					} // End if
				  });
				});
			</script>

	</body>
</html>
